#1. 데이터 읽어들이기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

filepath='/content/drive/MyDrive/9. K-최근접 이웃/model/X_test.csv'
X_test = pd.read_csv(filepath)
X_test.head(1)

   Unnamed: 0         0         1  ...        27        28        29
0         465  0.296228  0.352384  ...  0.466323  0.252316  0.458219

[1 rows x 31 columns]

> 실행 결과 'Unnamed: 0' feature 가 기존의 index 정보인 것을 알 수 있다. 이를 다시 index로 변경하자.

In [ ]:
X_test.set_index('Unnamed: 0', inplace=True)
X_test.head(1)

                   0         1         2  ...        27        28        29
Unnamed: 0                                ...
465         0.296228  0.352384  0.297699  ...  0.466323  0.252316  0.458219

[1 rows x 30 columns]

#2. 모델 읽어 들이기

In [ ]:
from sklearn.externals import joblib
save_model_filepath = '/content/drive/MyDrive/9. K-최근접 이웃/model/breast_cancer_model_v1.pkl'
clf_from_joblib = joblib.load(save_model_filepath)
clf_from_joblib.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

array([1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1])